**[{{ .Severity }}]** **{{ .Title }}**

{{ .Explanation }}
{{ if .SuggestedFix }}
**Suggested fix**

{{ .SuggestedFix }}
{{ end -}}
{{ if .Replacement }}
```suggestion
{{ .Replacement }}
```
{{ end -}}
{{ if .AgentPrompt }}
<details>
<summary>Prompt for a coding agent</summary>

{{ .AgentPromptFence }}
{{ .AgentPrompt }}
{{ .AgentPromptFence }}

</details>
{{ end -}}
